/*CSS by Aaron Lopez */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
	--midnight-blue: #1F2A44;
	--olive-green: #76885B;
	--champagne-gold: #E5C185;
	--linen: #F8F4EC;
	--dark-charcoal: #2B2B2B;
	--soft-white: #FAF9F6;

}

/* GLOBAL STYLES (mobile first/small) */
	

/* Body Styles*/
	
    body {
		font-family: Playfair Display;
		margin: 0 auto;
	}

	h2 { 
		text-align: center;
		font-size: 25px; 
		
	}

	h3 {
		text-align: center;
		font-size: 1.5rem;
	}

    /* Header Styles */

	header {
		background-color: var(--midnight-blue);
	}

	header img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;

	}

	header h1 {
		text-align: center;
		font-size: 3rem;
		color: var(--soft-white);
		font-weight: bold;
	}

	header p {
		text-align: center;
		color: var(--soft-white);
		font-style: italic;
	}
   
	/* Navigations Styles */
    
    nav {
		text-align: center;
		background-color: var(--champagne-gold);
		font-family: Playfair Display;
		padding: 10px;


	}

	nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;	
		padding: 5px;
	}

	nav a {
		text-decoration: none;
		color: var(--midnight-blue);
		font-weight: bold;
		font-size: 20px;
	}


	/* Intro Styles */

	#intro {
		border-bottom: 2px solid var(--champagne-gold);
		margin-left: 20px; 
		margin-right: 20px;
		padding-bottom: 20px;
		padding-top: 18px;
     }
	
	
	#intro h2 {
		padding-top: 35px; 
		text-align: left;
		padding-bottom: 10px;
		color: var(--midnight-blue);
		font-weight: 450;
	}

	#intro p {
		font-size: 16px;
		text-align: left;
		padding-bottom: 5px;
		color: var(--dark-charcoal);
	}

	/* Offerings Styles */

	#offer {
		padding-top: 1px;
		margin-left: 20px; 
		margin-right: 20px;
		border-bottom: 2px solid var(--champagne-gold);
	}

	#offer h2 {
		padding-top: 5px;
	}

    #offer h2, h3, p {
		text-align: left;
	}

	#offer h3 {
		font-size: 25px; 
		padding-bottom: 10px;
		font-weight: bold;
	}
	
	
	#offer section {
		background-color: var(--olive-green);
		margin: 15px;
		padding: 15px;
		border-radius: 15px;
		color: var(--soft-white);
		box-shadow: 1px 1px 5px var(--dark-charcoal); 
	}

	#offer p {
		line-height: 1.2;
	}

	#offer ul {
		line-height: 1.2;
		list-style-type: circle;
		padding-left: 20px;
	}
		
	/* Gallery Styles */

	#galleryintro h2 {
		text-align: left;

	}

	#galleryintro h2, #galleryintro p {
		margin: 12px;
	}

	#gallery {
		padding: 2px;
		border-bottom: 2px solid var(--champagne-gold);
	}

	#gallery img {
		display: block;
		margin: 0 auto;
		border-radius: 15px 15px 0px 0px;

	}

	#gallery p {
		text-align: center;
		font-size: 12px;
		padding-bottom: 10px;
		padding-top: 10px;
		font-style: italic;	
		margin-left: 28px;
		margin-right: 28px;
		margin-bottom: 12px;
		border-radius: 0px 0px 5px 5px;
		box-shadow: 2px 3px 6px -3px var(--dark-charcoal);
	}

	#gallery button {
		display: block;
		margin: 0 auto;
		background-color: var(--olive-green);
		border: none; 
		font-weight: bold; 
		padding: 13px;
		width: 85%;
		border-radius: 5px;
		color: var(--soft-white);	
		font-family: Playfair Display;
	}

	/* Footer Styles */

	footer {
		background-color: var(--midnight-blue);
		padding: 70px;
		margin-top: 20px;
		text-align: center;
	}

	footer small {
		color: var(--soft-white);	
	}

	footer a {
		text-decoration: none;
		color: var(--champagne-gold);
		font-weight: bold;
	}

	footer div {
		padding-top: 80px;

	}

	#Fieldlink {
		padding-top: 7px;

	}


/* MEDIA QUERY (medium) */
	@media screen and (min-width: 600px) {
	#intro {
		margin-left: 30px;
		margin-right: 30px;
	}

	#offer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-left: 30px;
		margin-right: 30px;
		
	}

	
	#offer h2 {
		grid-column: 1 / -1;
		margin-left: 10px;
	}

	
	#lastbox {
		grid-column: 1 / -1;
	}

	#galleryintro {
		margin-left: 30px;
		margin-right: 30px;

	}

	#gallery {
		display: grid;
		margin-left: 30px;
		margin-right: 30px;
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: auto auto auto; 
		
	}


	#gallery img, #gallery p{
		margin-left: 10px;
		margin-right: 10px;
		
	}

	
	
	#gallery img {
		width: 250px;
		height: 150px;
		
	}

	#gallery p {
		width: 250px;
		height: 15px;
	}

	#gallery button {
		grid-column: 1 / -1;
		width: 97%;
	}

	footer {
		padding-bottom: 30px;
		margin-top: 30px;

	}



}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px) {
	
	
	#gallery {
			display: grid;
			margin-left: 30px;
			margin-right: 30px;
			grid-template-columns: 1fr 1fr 1fr; 
			grid-template-rows: auto auto auto; 
			
		}




}

/* MEDIA QUERY (xl) */